<!DOCTYPE html>
<html>
  <head>
    <title>Recipeapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<%= render 'layouts/navigation' %>
<div class="container">

    <%= yield %>

  
    </div>
<div class="row">

<div class="col-lg-4">

<h3 class="midrow">

View Recipes as Guest User

</h3>
<h2 class="left">
Browse And View Recipes as a guest and sign up later
</h2>

<p> <%= link_to "Browse Recipes Listings","",class: "btn btn-warning btn-small" %> </p>

</div>


<div class="col-lg-4">

<h3 class="midrow">

View Recipes as Guest User

</h3>
<h2 class="left">
Browse And View Recipes as a guest and sign up later
</h2>

<p> <%= link_to "Browse Recipes Listings","",class: "btn btn-warning btn-small" %> </p>

</div>

<div class="col-lg-4">

<h3 class="midrow">

View Recipes as Guest User

</h3>
<h2 class="left">
Browse And View Recipes as a guest and sign up later
</h2>

<p> <%= link_to "Browse Recipes Listings","",class: "btn btn-warning btn-small" %> </p>

</div>


</div>

  <%= render 'layouts/footer' %>

  </body>
</html>
